
Blog.Core/bin/*
Blog.Core/obj/*

Blog.Data/bin/*
Blog.Data/obj/*

Blog.Core/bin/*
Blog.Core/obj/*

Blog.Service/bin/*
Blog.Service/obj/*

Blog.Web/bin/*
Blog.Web/obj/*

Blog.Web/Properties/*

.vs/*
.vs/MyBlog/v14/.suo
*.pubxml
*.user
