@model  List<Blog.Core.Blogs.Category>
<div class="col-sm-3">
    <h5 class="font-bold">Categories</h5>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="/Blog/Index/@item.Id">
                    <span class="badge pull-right">@item.BlogList.Count</span>
                    @item.CategoryName
                </a>
            </li>
        }
    </ul>
    @*<div class="tags m-b-lg l-h-2x">
            <a href="#" class="label bg-primary">Bootstrap</a> <a href="#" class="label bg-primary">Application</a> <a href="#" class="label bg-primary">Apple</a> <a href="#" class="label bg-primary">Less</a> <a href="#" class="label bg-primary">Theme</a> <a href="#" class="label bg-primary">Wordpress</a>
        </div>
        <h5 class="font-bold">Recent Posts</h5>
        <div>
            <article class="media">
                <a class="pull-left thumb thumb-wrapper m-t-xs">
                    <img src="images/m1.jpg">
                </a>
                <div class="media-body">
                    <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>
                    <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
                </div>
            </article>
            <div class="line"></div>
            <article class="media m-t-none">
                <a class="pull-left thumb thumb-wrapper m-t-xs">
                    <img src="images/m2.jpg">
                </a>
                <div class="media-body">
                    <a href="#" class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
                </div>
            </article>
            <div class="line"></div>
            <article class="media m-t-none">
                <a class="pull-left thumb thumb-wrapper m-t-xs">
                    <img src="images/m3.jpg">
                </a>
                <div class="media-body">
                    <a href="#" class="font-semibold">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>
                    <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                </div>
            </article>
        </div>*@
</div>
