<div class="secondary">
    <div class="col-lg-3"></div>
    @*<div class="col-lg-3" style="color:white;">
        <ul>
            <li>传送门：</li>
            <li>微博</li>
            <li>博客园</li>
            <li>邮箱</li>
        </ul>
    </div>*@
    <div style="float:left;margin-left: 10%;padding-top: 2%;">

        <img src="~/App_Content/Img/eidar.svg" />

        
    </div>
    <div style=" color:white;padding-top: 3%;">Email:350959349@qq.com</div>
    <div style="color:white;">QQ:350959349</div>
</div>
